/node_modules
/public/hot
/public/storage
/public/*.css
/public/*.js
/public/css
/public/js
/public/fonts
/public/*.json
/storage/*.key
# /public/img/profile/*.jpg
# /public/img/profile/*.png
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

package-lock.json